name: Test
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT REPOSITORY
        uses: actions/checkout@v4
      - name: SETUP ERLANG/ELIXIR
        uses: erlef/setup-beam@v1
        with:
          otp-version: 26
          elixir-version: 1.15
      - name: CONFIGURE
        run: |
          echo "build --color=yes" >> .bazelrc
      - name: BUILD
        run: |
          bazelisk build //...
  test:
    runs-on: ubuntu-latest
    steps:
      - name: CHECKOUT REPOSITORY
        uses: actions/checkout@v4
      - name: SETUP ERLANG/ELIXIR
        uses: erlef/setup-beam@v1
        with:
          otp-version: 26
          elixir-version: 1.15
      - name: CONFIGURE
        working-directory: test
        run: |
          echo "build --color=yes" >> .bazelrc
      - name: BUILD & TEST
        working-directory: test
        run: |
          bazelisk test //...
      - name: EXPECTED FAILURES FAIL
        working-directory: test
        run: |
          ! bazelisk test //:failing_test
          ! bazelisk test //:broken_test
